In [1]:
import pandas as pd
import numpy as np 
import zipfile

Resposta 1

Na 1, importei zipfile, coloquei compression para descompactar e concatenei os dados dos 3 anos, fiz separado para usar posteriormente.

In [2]:
dados2020 = pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/jdDLrQIf33xXSCe/download',encoding='ISO-8859-9',compression='zip', sep=';')
dados2019 = pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/kRBUylqz6DyQznN/download',encoding='ISO-8859-9',compression='zip', sep=';')
dados2018 = pd.read_csv('https://arquivos.prf.gov.br/arquivos/index.php/s/MaC6cieXSFACNWT/download',encoding='ISO-8859-9',compression='zip', sep=';')
dadosCon = pd.concat([dados2020, dados2019, dados2018])
dadosCon

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
0,260031.0,2020-01-01,quarta-feira,01:00:00,TO,153.0,"678,1",GURUPI,Animais na Pista,Atropelamento de Animal,...,5,0,0,5,1,"-11,77460203","-49,10744996",SR-TO,UOP01/TO,NaN
1,260036.0,2020-01-01,quarta-feira,01:00:00,RJ,116.0,178,NOVA IGUACU,Falta de Atenção do Pedestre,Atropelamento de Pedestre,...,0,1,0,0,1,"-22,75223028","-43,4379103",SR-RJ,DEL5/1,UOP02/RJ
2,260037.0,2020-01-01,quarta-feira,01:52:00,SC,101.0,"206,9",SAO JOSE,Ingestão de Álcool,Colisão lateral,...,0,1,0,1,2,"-27,59193546","-48,61824557",SR-SC,DEL8/1,UOP01/SC
3,260038.0,2020-01-01,quarta-feira,01:15:00,RO,364.0,236,CACOAL,Velocidade Incompatível,Saída de leito carroçável,...,1,0,0,1,1,"-11,44624577","-61,43761218",SR-RO,DEL21/2,UOP02/RO
4,260039.0,2020-01-01,quarta-feira,01:30:00,PR,153.0,360,REBOUCAS,Ingestão de Álcool,Capotamento,...,4,0,0,6,1,"-25,67503796","-50,75089805",SR-PR,DEL7/3,UOP04/PR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69290,252256.0,2018-12-24,segunda-feira,09:15:00,PI,343.0,"263,1",CAMPO MAIOR,Agressão Externa,Colisão com objeto estático,...,0,1,0,0,1,"-4,819326","-42,158821",SR-PI,DEL17/1,UOP03/PI
69291,252652.0,2018-12-12,quarta-feira,07:00:00,BA,101.0,321,PRESIDENTE TANCREDO NEVES,Falta de Atenção à Condução,Saída de leito carroçável,...,0,0,0,1,1,"-13,44768518","-39,42066193",SR-BA,DEL10/5,UOP03/BA
69292,252801.0,2018-11-15,quinta-feira,10:48:00,SP,116.0,529,BARRA DO TURVO,Falta de Atenção à Condução,Colisão traseira,...,0,0,1,1,2,"-24,939211","-48,301248",SR-SP,DEL6/5,UOP03/SP
69293,253040.0,2018-11-23,sexta-feira,19:30:00,RS,472.0,"573,5",URUGUAIANA,Desobediência às normas de trânsito pelo condutor,Queda de ocupante de veículo,...,1,1,0,1,2,"-29,76355779","-57,05200195",SR-RS,DEL9/13,UOP01/RS
69294,253078.0,2018-10-01,segunda-feira,04:31:00,GO,40.0,9,LUZIANIA,Não guardar distância de segurança,Saída de leito carroçável,...,0,0,0,1,1,"-16,131158","-47,957739",SR-DF,UOP01/DF,NaN

Resposta 2

Na A, usei len para verificar o tamanho das linhas que é equivalente a quantidade de acidentes.
Na B, usei o len para verificar a quantidade de colunas que tinham em todos os dataframes.
NA C, em cada ano, usei groupby verificando municipios e reset_index para resetar e deixar um contador do lado, apos contar, reeorganizei do maior para o menor atraves do sort_value, por fim, usei head() para mostrar os 5 primeiros como padrao.
Na D, fiz a filtragem para usar so a uf PB e o feridos_graves maior ou igual a 1, depois printei o tamanho(len) e por fim mostrei os 5 primeiros com head.

In [3]:
#A 
print('Ocorreram:', len(dados2020), "acidentes em 2020.")
print('Já em 2019,foram:', len(dados2019),"acidentes.")
print('Em 2018 foram:', len(dados2018),"acidentes.")

Ocorreram: 63548 acidentes em 2020.
Já em 2019,foram: 67446 acidentes.
Em 2018 foram: 69295 acidentes.

In [4]:
#B
print('O conjunto de dados de 2020 registra:', len(dados2020.columns), "variaveis.")
print('ja O conjunto de dados de 2019 tambem registra:', len(dados2019.columns), "variaveis.")
print('e O conjunto de dados de 2018 tambem registra:', len(dados2018.columns), "variaveis.")

O conjunto de dados de 2020 registra: 30 variaveis.
ja O conjunto de dados de 2019 tambem registra: 30 variaveis.
e O conjunto de dados de 2018 tambem registra: 30 variaveis.

In [30]:
#C
print('em 2020, estas foram as cidades que mais ocorreram acidentes:')
dds20 = dados2020.groupby(['municipio']).size().reset_index(name='count')
dds2= dds20.sort_values(by='count', ascending=False)
dds2.head()

em 2020, estas foram as cidades que mais ocorreram acidentes:

      municipio  count
230    BRASILIA   1040
494    CURITIBA    950
671   GUARULHOS    639
1524   SAO JOSE    629
1137    PALHOCA    593

In [29]:
print('em 2019, estas foram as cidades que mais ocorreram acidentes:')
ds19= dados2019.groupby(['municipio']).size().reset_index(name='count')
dds3 = ds19.sort_values(by='count', ascending=False)
dds3.head()

em 2019, estas foram as cidades que mais ocorreram acidentes:

      municipio  count
493    CURITIBA   1094
229    BRASILIA   1090
1514   SAO JOSE    819
668   GUARULHOS    717
1591      SERRA    633

In [31]:
print('em 2018, estas foram as cidades que mais ocorreram acidentes:')
ds18 = dados2018.groupby(['municipio']).size().reset_index(name='count')
dds1= ds18.sort_values(by='count', ascending=False)
dds1.head()

em 2018, estas foram as cidades que mais ocorreram acidentes:

      municipio  count
497    CURITIBA   1019
1516   SAO JOSE    874
230    BRASILIA    867
666   GUARULHOS    755
1129    PALHOCA    688

In [8]:
#d]D
pb19 = dados2019[(dados2019.uf == 'PB') & (dados2019.feridos_graves >= 1)]
print('Teve', len(pb19),'acidentes com feridos graves na Paraiba em 2019' )
pb19.head()

Teve 414 acidentes com feridos graves na Paraiba em 2019

,id,data_inversa,dia_semana,horario,uf,br,km,municipio,causa_acidente,tipo_acidente,...,feridos_graves,ilesos,ignorados,feridos,veiculos,latitude,longitude,regional,delegacia,uop
47,182271.0,2019-01-01,terça-feira,04:15:00,PB,361.0,"38,8",CATINGUEIRA,Ingestão de Álcool,Saída de leito carroçável,...,1,0,0,1,1,"-7,10157405","-37,60036469",SR-PB,DEL14/3,UOP01/PB
82,182312.0,2019-01-01,terça-feira,13:45:00,PB,230.0,"18,9",JOAO PESSOA,Defeito Mecânico no Veículo,Tombamento,...,1,1,0,1,2,"-7,129088","-34,850031",SR-PB,DEL14/1,UOP00/PB
357,182656.0,2019-01-03,quinta-feira,07:50:00,PB,101.0,"81,3",BAYEUX,Desobediência às normas de trânsito pelo condutor,Colisão lateral,...,1,1,0,1,2,"-7,126998","-34,941341",SR-PB,DEL14/1,UOP00/PB
564,183385.0,2019-01-04,sexta-feira,13:15:00,PB,230.0,"17,8",JOAO PESSOA,Não guardar distância de segurança,Colisão traseira,...,1,1,0,2,2,"-7,12064741","-34,84509414",SR-PB,DEL14/1,UOP00/PB
950,183831.0,2019-01-06,domingo,21:25:00,PB,101.0,10,MAMANGUAPE,Falta de Atenção à Condução,Colisão traseira,...,1,2,1,1,2,"-6,5959","-35,1448",SR-PB,DEL14/1,UOP03/PB

Resposta 3

Na A, ja tinha concatenado na 1, peguei, procurei por uf no groupby, usei o size para ver o tamanho e o reset index para imprimir a coluna contagem, ranquiei e salvei csv, apresentei todos.
Na B, fiz igual, so que para salvar em csv fiz uma copia.

In [34]:
#A
print("Ranking da quantidade acidente por estado para todos os anos: ")
rankin = dadosCon.groupby(['uf']).size().reset_index(name='contagem')
rankinn= rankin.sort_values(by='contagem', ascending=False)
rankinn.to_csv("rankingporestado.csv")
rankinn

Ranking da quantidade acidente por estado para todos os anos:

    uf  contagem
10  MG     26160
23  SC     24145
17  PR     22850
18  RJ     13417
22  RS     13216
25  SP     12936
4   BA     10482
8   GO     10046
7   ES      8018
15  PE      8011
12  MT      6963
5   CE      4962
20  RO      4648
14  PB      4553
11  MS      4505
19  RN      4190
16  PI      3920
9   MA      3501
13  PA      3040
6   DF      2997
1   AL      1948
24  SE      1746
26  TO      1704
0   AC       789
21  RR       723
3   AP       456
2   AM       363

In [35]:
#B
print('Quantidades de acidentes por dia da semana')
rankin2 = dadosCon.groupby(['dia_semana']).size().reset_index(name='contagem')
rankinn2= rankin2.sort_values(by='contagem', ascending=False)
print(rankinn2)

Quantidades de acidentes por dia da semana
      dia_semana  contagem
5         sábado     33005
0        domingo     33001
4    sexta-feira     30777
3  segunda-feira     27075
2   quinta-feira     26229
1   quarta-feira     25353
6    terça-feira     24849

In [11]:
rankingpordiadasemana = rankinn2.copy()
rankingpordiadasemana.to_csv("rankingpordiadasemana.csv")

Questão 4

Na A, fiz o mesmo procedimento da 3, so que utilizando o head(1) para mostrar a causa mais frequente e  utilizei o tail, para mostrar o ultimo (A mais rara).
Na B, peguei cada coluna pessoas, ilesos e feridos graves, fiz a soma, depois fiz a media para cada proporção, arrendondei para 2 digitos pos a virgula, então printei, fiz em todos os anos.
Na C, peguei os 3 dataframes separados por anos, copiei, criei um novo com agora a coluna "Ano", concatenei os 3, fiz groupby, reset_index, sort_values e depois apresentei os 3 anos, do maior para o menor.

In [12]:
#A
rankin = dadosCon.groupby(['causa_acidente']).size().reset_index(name='contagem')
rankinn= rankin.sort_values(by='contagem', ascending=False)
print('Causa mais frequente foi:')
rankinn.head(1)

Causa mais frequente foi:

                 causa_acidente  contagem
31  Falta de Atenção à Condução     73231

In [13]:
print('Causa mais rara foi:')
rankinn.tail(1)

Causa mais rara foi:

                           causa_acidente  contagem
29  Estacionar ou parar em local proibido         1

In [14]:
#B
somPes20 = dados2020['pessoas'].sum()
somIle20 = dados2020['ilesos'].sum()
somFeg20 = dados2020['feridos_graves'].sum()
mediPe20 = somIle20 / somPes20 
arrend20 = round(mediPe20,2)
mediPfg20 = round(somFeg20/somPes20,2)
print('Em 2020, aproximadamente:')
print('A proporção entre pessoas ilesas e envolvidas nos acidentes é:', arrend20, "e")
print('a proporção entre pessoas feridas gravemente e envolvidas nos acidentes é:', mediPfg20, ",ambos, a cada acidente.")
print()
print('Em 2019, aproximadamente:')
somPes19 = dados2019['pessoas'].sum()
somIle19 = dados2019['ilesos'].sum()
somFeg19 = dados2019['feridos_graves'].sum()
mediPe19 = round(somIle19 / somPes19,2)
mediPfg19 = round(somFeg19/somPes19,2)
print('A proporção entre pessoas ilesas e envolvidas nos acidentes é:', mediPe19, "e")
print('a proporção entre pessoas feridas gravemente e envolvidas nos acidentes é:', mediPfg19, ",ambos, a cada acidente.")
print()
print('Em 2018, aproximadamente:')
somPes18 = dados2018['pessoas'].sum()
somIle18 = dados2018['ilesos'].sum()
somFeg18 = dados2018['feridos_graves'].sum()
mediPe18 = round(somIle18 / somPes18,2)
mediPfg18 = round(somFeg18/somPes18,2)
print('A proporção entre pessoas ilesas e envolvidas nos acidentes é :', mediPe18, "e")
print('a proporção entre pessoas feridas gravemente e envolvidas nos acidentes é:', mediPfg18,",ambos, a cada acidente." )

Em 2020, aproximadamente:
A proporção entre pessoas ilesas e envolvidas nos acidentes é: 0.41 e
a proporção entre pessoas feridas gravemente e envolvidas nos acidentes é: 0.12 ,ambos, a cada acidente.

Em 2019, aproximadamente:
A proporção entre pessoas ilesas e envolvidas nos acidentes é: 0.42 e
a proporção entre pessoas feridas gravemente e envolvidas nos acidentes é: 0.11 ,ambos, a cada acidente.

Em 2018, aproximadamente:
A proporção entre pessoas ilesas e envolvidas nos acidentes é : 0.45 e
a proporção entre pessoas feridas gravemente e envolvidas nos acidentes é: 0.11 ,ambos, a cada acidente.

In [36]:
#C
dado20 = dados2020.copy()
dad20 = dado20.assign(Ano = 2020)
dado19 = dados2019.copy()
dad19 = dado19.assign(Ano = 2019)
dado18 = dados2018.copy()
dad18 = dado18.assign(Ano = 2018)
dadcon= pd.concat([dad20, dad19, dad18])
rankin = dadcon.groupby(['Ano']).size().reset_index(name='contagem')
rankinn= rankin.sort_values(by='contagem', ascending=False)
print("Aqui esta a contagem de acidentes por ano, provando que durante a pandemia a incidencia de acidente diminuiu.")
rankinn

Aqui esta a contagem de acidentes por ano, provando que durante a pandemia a incidencia de acidente diminuiu.

    Ano  contagem
0  2018     69295
1  2019     67446
2  2020     63548